@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Varela+Round&display=swap');
@import "tailwindcss";

@theme {
  --font-logo: "Varela Round", sans-serif;
  --font-body: "Quicksand", sans-serif;
}

:root {
  font-family: var(--font-body);
}