services:
  # --- TEST ENVIRONMENT ---
  # Reachable at http://localhost:8080
  kielibuddy-test:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kielibuddy_test
    ports:
      - "8080:8080"
    env_file:
      - .env.test
    environment:
      - APP_ENV=TESTING

  # --- RELEASE ENVIRONMENT ---
  # Reachable at http://localhost:9090
  kielibuddy-release:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kielibuddy_release
    restart: always
    ports:
      - "9090:8080"
    env_file:
      - .env.release
    environment:
      - APP_ENV=PRODUCTION
      - PORT=8080
